[submodule "TurboGE/vendor/spdlog"]
	path = TurboGE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TurboGE/vendor/glm"]
	path = TurboGE/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "TurboGE/vendor/yaml-cpp"]
	path = TurboGE/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "TurboGE/vendor/ImGuizmo"]
	path = TurboGE/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "TurboGE/vendor/GLFW"]
	path = TurboGE/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "TurboGE/vendor/imgui"]
	path = TurboGE/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
